.container {
  padding: 50px 24px;
  position: relative;
}

.wrap-title {
  display: flex;
  flex-direction: column;

  .txt-entitle {
    font-size: 10px;
    color: var(--rsvp-font-color);
    margin-bottom: 10px;
  }

  .txt-title {
    color: var(--rsvp-font-color);
  }
}

.wrap-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  position: relative;
  max-height: 250px;
  overflow: hidden;
  transition: max-height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  .wrap-imagebox {
    width: 100%;
    position: relative;
    cursor: pointer;

    &::after {
      display: block;
      content: '';
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      object-fit: cover;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      transition: filter 0.8s ease-in-out;
    }

    img:hover {
      filter: brightness(70%);
    }
  }
}

.wrap-images.open {
  max-height: 800px;
}

.wrap-buttonbox {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  padding-bottom: 20px;

  .cloud {
    height: 60px;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
  }

  .wrap-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 35px;
    gap: 30px;

    cursor: pointer;

    span {
      font-size: 13px;
      font-weight: bold;
    }

    .ico-arrow {
      width: 15px;
      height: 15px;

      img {
        width: 100%;
        height: 100%;
        animation: bounce 1s infinite;
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(+3px);
  }
}
