.container {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../assets/images/flower.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
  }
}

.txt-thanksto {
  position: relative;
  font-size: 10px;
}
