.container {
  padding: 0;
}

.wrap-header {
  display: flex;
  flex-direction: column;

  .txt-entitle {
    font-size: 10px;
    color: var(--rsvp-font-color);
    margin-bottom: 10px;
  }

  .txt-title {
    margin-bottom: 34px;
    color: var(--rsvp-font-color);
  }

  .wrap-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .txt-subtitle {
      font-weight: 400;
      font-size: 15px;
      color: var(--black);
    }

    :last-child {
      font-size: 12px;
      color: #4e4c4b;
    }
  }
}

.wrap-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 20px;

  .btn-find-way {
    flex: 1;
    height: 45px;
    margin: 0 5px;
    background-color: #fff;
    color: var(--black);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.wrap-map {
  .map {
    width: 100%;
    height: 250px;
  }
}

.wrap-waytocome {
  margin: 36px 0;
  line-height: 2;
  padding: 0 24px;

  .txt-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--rsvp-font-color);
  }

  .txt-waytocome {
    font-size: 14px;
  }
}
