@import '../../../scss//variable.scss';

.wrap-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  z-index: $modal-zindex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  .wrap-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rsvp-border-color);
    border-radius: 100px;
    width: 200px;
    height: 35px;

    button {
      font-size: 14px;
      padding: 15px 20px;

      cursor: pointer;
    }
  }

  .divider {
    width: 90%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
  }

  .wrap-body {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .wrap-content {
      .txt-title {
        font-size: 16px;
        font-weight: bold;
        margin: 30px 0;
        text-align: center;
        color: var(--rsvp-font-color);
      }
    }

    .wrap-sub-content {
      font-size: 12px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }

    .wrap-cancel {
      position: absolute;
      top: -15px;
      right: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
      }
    }

    .wrap-cancel:hover {
      background-color: #f0f0f0;
      transition: 0.6s ease-in-out;
    }
  }
}
