@font-face {
  font-family: 'MaruBuri-Regular';
  src:
    url('../assets/fonts/subset-MaruBuri-Regular.woff2') format('woff2'),
    url('../assets/fonts/subset-MaruBuri-Regular.woff') format('woff'),
    url('../assets/fonts/subset-MaruBuri-Regular.ttf') format('truetype');
  font-display: fallback;
}
