@import '../../../scss//utils.scss';

.container {
  @include txt-content;

  .ico-post {
    width: 24px;
    height: 24px;
    margin: 72px 0 8px;
  }

  .ico-flower {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
  }
}
